nav {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #001219;
    align-items: center;
}
nav h1 {
    color: #fff;
    margin-left: 40px;
}
nav a {
    text-decoration: none;
}
nav span {
    color: #ee9b00;
    cursor: pointer;
    margin-left: 40px;
    font-size: 0.85rem;
    text-transform: uppercase;
}
nav span:hover {
    color: #fff;
    border-bottom: 2px solid #ee9b00;
    padding-bottom: 5px;
    cursor: pointer;
}
span #HomeLight,
#MoviesLight,
#TrendingLight,
#PricingLight {
    /* color: #fff; */
    color: #1dffcb;
}
span #HomeLight:hover,
#MoviesLight:hover,
#TrendingLight:hover,
#PricingLight:hover {
    border-bottom: 2px solid #ff206e;
}
#navBarColor {
    background-color: #38bdab;
    transition: 0.6s;
}
.nav-options {
    display: flex;
    align-items: center;
}
#heading {
    color: #ff206e;
}
#navBarColor span:hover {
    border-bottom: 2px solid #ff206e;
    padding-bottom: 5px;
}
.input-group {
    display: flex;
    align-items: center;
}
#Color-switcher {
    position: relative;
    margin-right: 40px;
    /* background-color: #413e44; */
    background-color: #a37ad1;
    width: 80px;
    height: 40px;
    border-radius: 20px;
}
#Color-switcher-mover {
    position: absolute;
    left: 5px;
    top: 4px;
    /* background-color: #fff; */
    background-color: #ee0505;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: 0.6s;
}
#Color-switcher-moved {
    position: absolute;
    /* background-color: #fff; */
    background-color: #01f165;
    left: 40px;
    top: 4px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    transition: 0.6s;
}
.input-group input {
    position: relative;
    width: 323px;
    height: 8vh;
    border-radius: 16px;
    border: none;
    margin-right: 30px;
}
.input-group input[type='text'] {
    padding-left: 17px;
    font-size: 1rem;
    color: black;
}
.input-group input::placeholder {
    color: black;
}
.input-group input:focus {
    outline: none;
}
#search {
    position: absolute;
    margin-left: 310px;
}

/* //Videos.css */

/* TrailerMovi.css */

/* pricing.css */
